@model MinistryFunnel.FrontEnd.Models.MinistryViewModel

<style>
    .no-left-padding {
        padding-left: 0px;
    }
</style>


<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.Event)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.Event)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.Purpose)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.Purpose)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.DesiredOutcome)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.DesiredOutcome)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.MinistryOwnerName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.MinistryOwnerName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.PracticeName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.PracticeName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.FunnelName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.FunnelName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.LocationName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.LocationName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.CampusName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.CampusName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.StartDate)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.StartDate)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.EndDate)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.FrequencyName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.FrequencyName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.KidCare)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.KidCare)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.LevelOfImportanceName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.LevelOfImportanceName)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.Comments)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.Comments)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.CreatedDateTime)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.CreatedDateTime)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.ModifiedDateTime)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.ModifiedDateTime)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.Archived)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.Archived)
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.Comments)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.Comments)
    </div>
</div>


<div class="row">
    <h4>Up In Out Relationships</h4>
    <div class="col-sm-12 text-left no-left-padding">
        @foreach (var relationship in Model.UpInOutRelationships)
        {
            @relationship.UpInOutName
            <br />
        }
     </div>
</div>

<div class="row">
    <h4>Reource Involvment</h4>
    <div class="col-sm-12 text-left no-left-padding">
        @foreach (var resource in Model.ResourceInvolvementRelationships)
        {
            @resource.ResourceInvolvementName
            <br />
        }
    </div>
</div>

<div class="row">
    <h4>
        @Html.DisplayNameFor(model => model.ApprovalName)
    </h4>
    <div class="col-sm-12 text-left no-left-padding">
        @Html.DisplayFor(model => model.ApprovalName)
    </div>
</div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
