<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ministry Funnel - Discovery Church</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://www.discoverychurch.org/wp-content/uploads/2016/02/DC_Favicon-1.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="~/">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Ministry">Ministry</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Home/Calendar">Calendar</a>
                    </li>
                    @if (User.IsInRole("Database.Admin"))
                    { 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administration
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/MinistryOwner">Ministry Owner</a>
                                <a class="dropdown-item" href="~/Practice">Practice</a>
                                <a class="dropdown-item" href="~/Funnel">Funnel</a>
                                <a class="dropdown-item" href="~/Campus">Campus</a>
                                <a class="dropdown-item" href="~/ResourceInvolvement">Resource Involvement</a>
                                <a class="dropdown-item" href="~/LevelOfImportance">Level of Importance</a>
                                <a class="dropdown-item" href="~/Location">Location</a>
                                <a class="dropdown-item" href="~/UpInOut">Up In Out</a>
                                <a class="dropdown-item" href="~/Approval">Approval</a>
                                <a class="dropdown-item" href="~/Frequency">Frequency</a>
                            </div>
                        </li>
                    }
                    
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @Html.Action(actionName: "TempMessage", controllerName: "Message")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Discovery Church</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- JS includes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>  
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
</body>
</html>
